body {
	background-color: #252522;
	font-family: Arial, sans-serif;
    color: #f9f9f9;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

h1 {
	font-size: 36px;
	margin-top: 0;
	margin-left: -10px;
}

.info {
	margin-bottom: 20px;
}

.label {
	font-weight: bold;
	display: inline-block;
	min-width: 120px;
}

.value {
	margin-left: 10px;
}

.link {
	margin-left: 10px;
	color: #d19f72;
	cursor: pointer;
}

a  {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: #f9f9f9;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.active {
    background-color: #d19f72;
    font-weight: bold;
}

#server_description {
    margin-left: 0px;
}

table {
	border-collapse: collapse;
	margin-top: 20px;
	width: 100%;
}

thead {
	background-color: #252522;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #252522;
}

.button {
	display: flex;
	justify-content: left;
	align-items: center;
}

#switch-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 250px;
	padding: 5px;
    text-decoration: none;
	background: none;
	border: #d19f72 1px solid;
	color: #d19f72;
}

#switch-button:hover {
	border: #f9f9f9 1px solid;
	cursor: pointer;
	transition: 0.2s;
}

#switch-button:active {
	color: #f9f9f9;
}